<body>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <img src="../../assets/iu.png" width="100px" height="100px" align="right" padding="20px">
      <h1 class="mat-display-3" style="font-family:'San Francisco', Helvetica, Arial, san-serif">Real Estate</h1>
      <!-- <p class="lead">Your Gateway to a Richer New Life</p> -->
    </div>
  </div>
<!-- <div class="col-lg-9 col-md-7 center"></div> -->
<!-- <div class="col-lg-3 col-md-5 right"> -->
 

  <mat-grid-list cols="6">
    <mat-grid-tile colspan="4" rowspan="3">
      <!-- CAROUSEL GOES HERE -->
      <!-- <img src="../../assets/house_2.jpg" width="100%"> -->
      <ngb-carousel *ngIf="images" style="height: 100%;">
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img [src]="images[0]" alt="Random first slide">
          </div>
          <div class="carousel-caption">
            <h3>Da li zelite da kupte ovaj most????</h3>
            <p>Mnogo je dobar izdrzljiv i kida</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img [src]="images[1]"  alt="Random second slide">
          </div>
          <div class="carousel-caption">
            <h3>da li zelite da kupite ovaj camac??</h3>
            <p>Women sold separetly.</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img [src]="images[2]" alt="Random third slide">
          </div>
          <div class="carousel-caption">
            <h3>Planine doline</h3>
            <p>mozete da otputujete ovde sa svojomo porodicom jos danas za samo $299.</p>
          </div>
        </ng-template>
      </ngb-carousel>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="2">
      <form class="login-form">
        <mat-form-field class="example-full-width" appearance="fill" color="accent">
          <mat-label>Username</mat-label>
          <input matInput>
        </mat-form-field><br/>

        <mat-form-field class="example-full-width" appearance="fill" color="accent">
          <mat-label >Password</mat-label>
          <input matInput type="password">
        </mat-form-field><br/>
        <button mat-raised-button color="primary">Log in</button>
      </form>
    </mat-grid-tile>
    <mat-grid-tile colspan="2">
      <form class="register-button">
        <h4 style="text-align: center;">Or take a moment to register if You dont have an account.</h4><br/>
        <button  mat-raised-button color="accent" matTooltip="Press here for register form">Register</button>
      </form>
       </mat-grid-tile>
  </mat-grid-list>
  
<!-- </div> -->

  
<!-- 
  <section>
    <div class="example-label">Basic</div>
    <div class="example-button-row">
      <button mat-button>Basic</button>
      <button mat-button color="primary">Primary</button>
      <button mat-button color="accent">Accent</button>
      <button mat-button color="warn">Warn</button>
      <button mat-button disabled>Disabled</button>
      <a mat-button href="https://www.google.com/" target="_blank">Link</a>
    </div>
  </section>
  <mat-divider></mat-divider>
  <section>
    <div class="example-label">Raised</div>
    <div class="example-button-row">
      <button mat-raised-button>Basic</button>
      <button mat-raised-button color="primary">Primary</button>
      <button mat-raised-button color="accent">Accent</button>
      <button mat-raised-button color="warn">Warn</button>
      <button mat-raised-button disabled>Disabled</button>
      <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
    </div>
  </section>
  <mat-divider></mat-divider>
  <section>
    <div class="example-label">Stroked</div>
    <div class="example-button-row">
      <button mat-stroked-button>Basic</button>
      <button mat-stroked-button color="primary">Primary</button>
      <button mat-stroked-button color="accent">Accent</button>
      <button mat-stroked-button color="warn">Warn</button>
      <button mat-stroked-button disabled>Disabled</button>
      <a mat-stroked-button href="https://www.google.com/" target="_blank">Link</a>
    </div>
  </section>
  <mat-divider></mat-divider>
  <section>
    <div class="example-label">Flat</div>
    <div class="example-button-row">
      <button mat-flat-button>Basic</button>
      <button mat-flat-button color="primary">Primary</button>
      <button mat-flat-button color="accent">Accent</button>
      <button mat-flat-button color="warn">Warn</button>
      <button mat-flat-button disabled>Disabled</button>
      <a mat-flat-button href="https://www.google.com/" target="_blank">Link</a>
    </div>
  </section>
  <mat-divider></mat-divider>
  <section>
    <div class="example-label">Icon</div>
    <div class="example-button-row">
      <div class="example-flex-container">
        <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
          <mat-icon>more_vert</mat-icon>
        </button>
        <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
          <mat-icon>home</mat-icon>
        </button>
        <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon">
          <mat-icon>menu</mat-icon>
        </button>
        <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button disabled aria-label="Example icon button with a open in new tab icon">
          <mat-icon>open_in_new</mat-icon>
        </button>
      </div>
    </div>
  </section>
  <mat-divider></mat-divider>
  <section>
    <div class="example-label">FAB</div>
    <div class="example-button-row">
      <div class="example-flex-container">
        <div class="example-button-container">
          <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
        <div class="example-button-container">
          <button mat-fab color="accent" aria-label="Example icon button with a bookmark icon">
            <mat-icon>bookmark</mat-icon>
          </button>
        </div>
        <div class="example-button-container">
          <button mat-fab color="warn" aria-label="Example icon button with a home icon">
            <mat-icon>home</mat-icon>
          </button>
        </div>
        <div class="example-button-container">
          <button mat-fab disabled aria-label="Example icon button with a heart icon">
            <mat-icon>favorite</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </section>
  <mat-divider></mat-divider>
  <section>
    <div class="example-label">Mini FAB</div>
    <div class="example-button-row">
      <div class="example-flex-container">
        <div class="example-button-container">
          <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
            <mat-icon>menu</mat-icon>
          </button>
        </div>
        <div class="example-button-container">
          <button mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon">
            <mat-icon>plus_one</mat-icon>
          </button>
        </div>
        <div class="example-button-container">
          <button mat-mini-fab color="warn" aria-label="Example icon button with a filter list icon">
            <mat-icon>filter_list</mat-icon>
          </button>
        </div>
        <div class="example-button-container">
          <button mat-mini-fab disabled aria-label="Example icon button with a home icon">
            <mat-icon>home</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </section>
-->
<!-- </body> -->
