.jumbotron{
  background: #323233;
  color:whitesmoke;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-family:'San Francisco', Helvetica, Arial, san-serif; 
}

section {
    display: table;
  }
  
  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }
  
  .example-button-row {
    display: table-cell;
    width: 490px;
  }
  
  .example-button-row .mat-button-base {
    margin: 8px 8px 8px 0;
  }
  
  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }
  
  body{
    background: #34283c;
    color:whitesmoke;
    font-family:'San Francisco', Helvetica, Arial, san-serif; 
  }

  button{
    width:50%;
    margin-left:25%;
    margin-right:25%;
}
mat-grid-list{
  margin: 0;
  padding: 0;
  
}